:root{
    /* overall stuff */
    --font-color: rgb(188, 187, 199);
    --bg-light-blue: rgb(13,17,23);
    --light-transp-blue: rgb(97,97,103, .3);
    --dark-transp-blue: rgb(175,175,185,.3);
    --light-shadow: 0 10px 30px rgb(0,0,50,0.1);
    --pretty-green: rgb(140,223,130);
    --pretty-yellow: rgb(255 216 107);
    --pretty-red:rgb(255 109 109);
    --pretty-purple:rgb(245 152 229);
    --navbar-gap: max(12vh,100px);
    --lighter-font-color: rgb(111,111,111);
}

button{
    font-weight: 600;
    font-family: 'Poppins';
    cursor: pointer;
    color:var(--font-color);
}

body{
    margin:0;
    font-family:'Poppins';
    background: var(--bg-light-blue);
    color:var(--font-color);
}


#navbar{
    position: fixed;
    top: 0;
    background: rgba(22,27,34,0.8);
    width: 100vw;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    font-weight: 600;
    border-bottom: 2px solid var(--light-transp-blue);
    text-align: center;
    backdrop-filter: blur(5px);
    z-index: 999;
}


.roadBlock{
    width: 20%;
    margin:auto;
    border:2px solid var(--dark-transp-blue);
    background: rgb(22,27,34);
    border-radius: 15px;
    padding:10px;
    transition:.35s;
    cursor:pointer;
    min-width: 405px;
}

.roadBlock:hover{
    padding: 15px;
    box-shadow: var(--light-shadow);
}

.content p{
    margin-top:0px;
}

.roadBlock h3{
    font-weight: 600;
    margin:0;
}


.required{
    color:var(--pretty-yellow);
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    margin:0;
    font-weight: 600;
    border-radius: 10px;
    width: fit-content;
    margin-left: auto;
    margin-bottom:10px;
    font-size:13px;
}

.roadBlock button{
    background: var(--pretty-green);
    border: none;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}

.separator{
    width: 2px;
    height: 60px;
    background:var(--dark-transp-blue);
    margin:auto;
}


#popup{
    position: fixed;
    z-index:999;
    opacity:0;
    width:fit-content;
    height:60vh;
    background:rgb(22,27,34);
    border-radius: 15px;
    left:50vw;
    top:10vh;
    transform:translate(-50%,0);
    border: 2px solid var(--dark-transp-blue);
    transition:.5s;
    pointer-events: none;
    padding:40px;
    overflow:auto;

}

#popup h2{
    font-weight: 600;
    margin:0;
    text-align: center;
}

#popup p{
    margin:0;
    text-align: center;
}

#popup a{
    background:var(--pretty-green);
    color:var(--bg-light-blue);
    text-decoration: none;
    font-weight: 600;
    border-radius: 10px;
    padding:5px;
    padding-left:10px;
    padding-right: 10px;
    width: fit-content;
    display:block;
    margin:auto;
    margin-top:15px;
}

#popupBackdrop{
    background: rgb(22 27 34 / 50%);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* opacity: .5; */
    z-index: 997;
    backdrop-filter: blur(6px);
    opacity: 0;
    transition: .5s;
    pointer-events:none;
}


.checkBox{
    width: fit-content;
    border-radius: 10px;
    border: 2px solid var(--dark-transp-blue);
    padding:5px;
    cursor: pointer;
    margin-right: 5px;
}

.checkBox div{
    background:var(--pretty-green);
    width: 15px;
    height: 15px;
    border-radius: 5px;
}